<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

{{ this.formSpecifications}}
<div class="row">

<div class="col-4">

</div>

<div class="col-4" style="text-align:center">

  <table>
    <tr *ngFor="let item of this.formSpecifications">
      <td>  <label>{{item[1]}}</label> </td>
      <td>  <input type={{item[0]}} name="" value=""/> </td>

    </tr>
  </table>

  <div class="col-4">

  </div>

</div>


<app-dexie-test></app-dexie-test>




</div>
